/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


@import "../node_modules/bootstrap/scss/bootstrap.scss";
body{
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  background: darkslateblue;
  color: #eeeeee;
}

.content-wrapper{
  padding: 50px;
}

//---------Material design overwrite styles-----------
.mat-row:hover {
  background-color: #eeeeee;
}
.mat-select-value {
  color: white !important;
}
.mat-form-field-underline {
  background-color: #eeeeee !important;
}
.mat-form-field-ripple {
  background-color: #eeeeee !important;
}
.mat-select-arrow {
  color: #B9B9B9 !important;
}
.mat-form-field-label {
  color: #B9B9B9 !important;
}
