/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


@import "../node_modules/bootstrap/scss/bootstrap.scss";
body{
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  background: darkslateblue;
  color: #eeeeee;
}

.content-wrapper{
  padding: 50px;
}

//---------Material design overwrite styles-----------
.mat-row:hover {
  background-color: #eeeeee;
}
.mat-select-value {
  color: #bbbbbb !important;
}
.mat-form-field-underline {
  background-color: #a1a1a1 !important;
}
.mat-form-field-ripple {
  background-color:  #a1a1a1 !important;
}
.mat-select-arrow {
  color: #a1a1a1 !important;
}
.mat-form-field-label {
  color: #8f8f8f !important;
}

//---------Loading spinner-----------

.load-spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ffce56; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.center-spin{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
