<div class="container">
  <h1>Organization Dashboard</h1>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-content>
          Yearly comparison
          <p-chart type="line" [data]="yearComparisonData"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-content>
          Types of data lost
          <p-chart type="pie" [data]="dataLostTypeComparison"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>

   <!-- <div class="col-lg-4">
      <mat-card>
        <mat-card-content>
          Actor pattern comparison
        </mat-card-content>
      </mat-card>
    </div>-->
  </div>
<br>


  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!--Name Column-->
      <ng-container matColumnDef="orgName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let org"> {{org.orgName}} </mat-cell>
      </ng-container>

     <!--Industry Column-->
      <ng-container matColumnDef="orgIndustry">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Industry </mat-header-cell>
        <mat-cell *matCellDef="let org"> {{org.orgIndustry}} </mat-cell>
      </ng-container>

      <!--Number of Incidents Column-->
      <ng-container matColumnDef="numIncidents">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Incidents </mat-header-cell>
        <mat-cell *matCellDef="let org"> {{org.numIncidents}} </mat-cell>
      </ng-container>

      <!--Records Lost Column-->
      <ng-container matColumnDef="numRecordsLost">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Records Lost </mat-header-cell>
        <mat-cell *matCellDef="let org"> {{org.numRecordsLost}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></mat-row>
    </mat-table>
  </div>
</div>
<br>
