.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 320px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: white;
}

.header {
  max-height: 65px;
  padding: 8px 24px 0;
  background-color: lightgray;
}
.mat-input-element{
  color:black;
}
