<div class="container content-wrapper">
  <h2>Global Breach Dashboard</h2>
  <div [formGroup] = "form" class="text-right">
    <mat-form-field>
      <mat-select placeholder="Location" formControlName="countryControl">
        <mat-option [value]="DEFAULT_OPTION">
          {{DEFAULT_OPTION}}
        </mat-option>
        <mat-option *ngFor="let country of countryList" [value]="country">
          {{country}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Incidents over time</mat-card-title>
          <!--<mat-card-subtitle>This is information about the title</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p-chart type="line" [data]="yearComparisonObject"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6 mb-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Actor pattern comparison</mat-card-title>
          <!--<mat-card-subtitle>This is information about the title</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p-chart type="doughnut" [data]="actorComparisonObject" [options]="getLeftPositionOption()"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Breaches by industry</mat-card-title>
          <!--<mat-card-subtitle>This is information about the title</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p-chart type="radar" [data]="industryComparisonObject"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6 mb-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Number of records lost per year</mat-card-title>
          <!--<mat-card-subtitle>This is information about the title</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p-chart type="line" [data]="recordsLostComparisonObject"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

 <!-- <div *ngIf="displayMap" class="row">
    <div class="col-lg-12 mt-4">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Incidents over time</mat-card-title>
          &lt;!&ndash;<mat-card-subtitle>This is information about the title</mat-card-subtitle>&ndash;&gt;
        </mat-card-header>
        <mat-card-content class="responsive-map">
          <google-chart  [data]="geoChartData"></google-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>-->

  <br>
</div>
