<div class="container content-wrapper">
  <h2>Global Breach Dashboard</h2>
  <br>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Incidents over time</mat-card-title>
          <!--<mat-card-subtitle>This is information about the title</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p-chart type="line" [data]="yearComparisonObject"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6 mb-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Actor pattern comparison</mat-card-title>
          <!--<mat-card-subtitle>This is information about the title</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p-chart type="doughnut" [data]="actorComparisonObject" [options]="getLeftPositionOption()"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Breaches by industry</mat-card-title>
          <!--<mat-card-subtitle>This is information about the title</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p-chart type="radar" [data]="industryComparisonObject"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6 mb-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Number of records lost per year</mat-card-title>
          <!--<mat-card-subtitle>This is information about the title</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p-chart type="line" [data]="recordsLostComparisonObject"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>
</div>
