<div class="container">
  <h1>World Dashboard</h1>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          Incidents over time
          <p-chart type="line" [data]="yearComparisonData"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          Actor pattern comparison
          <p-chart type="doughnut" [data]="actorComparison"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          Breaches by industry
          <p-chart type="radar" [data]="industryComparisonData"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          Number of records lost by year
          <p-chart type="line" [data]="recordsLostComparisonData"></p-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
<br>

