<div class="container">
  <h1>World Dashboard</h1>
  <br>
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          Country comparison - advanced pie chart
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          incidents over time - line graph
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          All actor types comparison
        </mat-card-content>
      </mat-card>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          Data lost type comparison - vertical bar chart
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          All actor pattern comparison
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          Industry comparison
        </mat-card-content>
      </mat-card>
    </div>
  </div>
<br>

