<h1>World Dashboard</h1>

<ul>
  <ng-container *ngFor="let org of orgList; let i=index">
    <li *ngIf="i<25">
      {{org.orgId}}, {{org.orgName}}, {{org.orgIndustry}}
    </li>
  </ng-container>
</ul>

<h3>Actors</h3>
<ul>
  <ng-container *ngFor="let actor of actorList; let i=index">
    <li *ngIf="i<25">
        {{actor.actorId}}, {{actor.actorType}}, {{actor.actorPattern}}
    </li>
  </ng-container>
</ul>

<h3>Incidents</h3>
<ul>
  <ng-container *ngFor="let incident of incidentList; let i=index">
    <li *ngIf="i<25">
      {{incident.incidentId}}, {{incident.reportMonth}}, {{incident.reportYear}}
    </li>
  </ng-container>
</ul>
